.main-banner {
  background-color: antiquewhite;
}
.main-banner .slide_item {
  width: 100%;
  height: 80vh;
}
.main-banner .banner1 {
  background-image: url(/src/assets/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;

  transition: transform 0.5s ease;
}
.main-banner .banner1:hover {
  transform: scale(1.2);
}
.main-banner .banner2 {
  background-image: url(/src/assets/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 30%;

  transition: transform 0.5s ease;
}
.main-banner .banner2:hover {
  transform: scale(1.2);
}
.main-banner .banner3 {
  background-image: url(/src/assets/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;

  transition: transform 0.5s ease;
}
.main-banner .banner3:hover {
  transform: scale(1.2);
}
.news_main {
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 20px;

  border-radius: 20px;
  border-top: 5px solid black;
  border-right: 5px solid black;
  /* background-color: antiquewhite; */
}
.news_main:hover {
  margin-top: -20px;
  padding-top: 40px;
}
.news_main p {
  font-size: 24px;
  font-family: 'KoPub_Bold';
  text-decoration: underline;
}
.news_main_imgbox {
  margin-top: 25px;
  margin-bottom: 25px;
}
.news_main_imgbox img {
  width: 100%;
}
.news {
  background-color: #fff;
}
.news .news_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}
.news .news_box .news_item {
  margin-bottom: 20px;
}
