/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 110px;
  background-color: #000;
  font-size: 18px;
  font-family: "KoPub_Bold";
}
.header a {
  color: #fff;
}
.header .logo_box img {
  width: 150px;
}

.header_links {
  display: flex;
  justify-content: center;
}

.header_links li {
  padding: 0 20px;
  line-height: 110px;
  height: 110px;
}

.header_links li:hover {
  background-color: #fff;
}
.header_links li:hover a {
  color: #000;
}

.header_links li.clicked {
  background-color: #fff;
}
.header_links li.clicked a {
  color: #000;
}

/* footer */
.footer {
  background-color: #000;
  color: #fff;
  font-family: "KoPub_Medium";
  font-size: 16px;
}
.footer .footer_container .footer_text {
  line-height: 1.5;
}

/* login */
.login_wrap {
  font-family: "KoPub_Bold";
}
